<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @image.title %>
</p>

<p>
  <b>Alt:</b>
  <%= @image.alt %>
</p>

<p>
  <b>File name:</b>
  <%= @image.file_name %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
